﻿/* CSS crunched with Crunch - http://crunchapp.net/ */
/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */ /*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

@media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

        a[href]:after {
            content: " (" attr(href) ")";
        }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }

    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }

    .navbar {
        display: none;
    }

    .btn > .caret, .dropup > .btn > .caret {
        border-top-color: #000 !important;
    }

    .label {
        border: 1px solid #000;
    }

    .table {
        border-collapse: collapse !important;
    }

        .table td, .table th {
            background-color: #fff !important;
        }

    .table-bordered th, .table-bordered td {
        border: 1px solid #ddd !important;
    }
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/roboto-regular-webfont.eot');
    src: url('../fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),url('../fonts/roboto/roboto-regular-webfont.woff') format('woff'),url('../fonts/roboto/roboto-regular-webfont.ttf') format('truetype'),url('../fonts/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto/roboto-medium-webfont.eot');
    src: url('../fonts/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),url('../fonts/roboto/roboto-medium-webfont.woff') format('woff'),url('../fonts/roboto/roboto-medium-webfont.ttf') format('truetype'),url('../fonts/roboto/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto/roboto-light-webfont.eot');
    src: url('../fonts/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/roboto/roboto-light-webfont.woff2') format('woff2'),url('../fonts/roboto/roboto-light-webfont.woff') format('woff'),url('../fonts/roboto/roboto-light-webfont.ttf') format('truetype'),url('../fonts/roboto/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('../fonts/roboto/roboto-mediumitalic-webfont.eot');
    src: url('../fonts/roboto/roboto-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/roboto/roboto-mediumitalic-webfont.woff2') format('woff2'),url('../fonts/roboto/roboto-mediumitalic-webfont.woff') format('woff'),url('../fonts/roboto/roboto-mediumitalic-webfont.ttf') format('truetype'),url('../fonts/roboto/roboto-mediumitalic-webfont.svg#robotomedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto/roboto-bold-webfont.eot');
    src: url('../fonts/roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),url('../fonts/roboto/roboto-bold-webfont.woff') format('woff'),url('../fonts/roboto/roboto-bold-webfont.ttf') format('truetype'),url('../fonts/roboto/roboto-bold-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

html {
    font-size: 10px;
}

body {
    font-family: "robotoregular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #6a6c6d; /*background-color:#49657b*/
}

.wrapper {
    background-color: #fff;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
   color: #FFF;
   text-decoration: none;
}
a:hover, a:active, a:visited {
   color: #FFF;
   }

/*a {
    color: #17b9d3;
    text-decoration: none;
}

    a:hover, a:focus {
        color: #14a5bc;
        text-decoration: underline;
    }

    a:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }*/

figure {
    margin: 0;
}

img {
    vertical-align: middle;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-rounded {
    border-radius: 6px;
}

.img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #49657b;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.img-circle {
    border-radius: 50%;
}

hr {
    margin-top: 22px;
    margin-bottom: 22px;
    border: 0;
    border-top: 1px solid #eee;
}

    hr.darken {
        border-top: 1px solid #bbb;
    }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}

[role="button"] {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "robotolight","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.3;
    color: #515253;
}

    h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
        font-weight: normal;
        line-height: 1;
        color: #777;
    }

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 22px;
    margin-bottom: 11px;
}

    h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h1 .small, .h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small {
        font-size: 65%;
    }

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 11px;
    margin-bottom: 11px;
}

    h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small, h4 .small, .h4 .small, h5 .small, .h5 .small, h6 .small, .h6 .small {
        font-size: 75%;
    }

h1, .h1 {
    font-size: 20px;
}

@media (min-width:768px) {
    h1, .h1 {
        font-size: 40px;
    }
}

h2, .h2 {
    font-size: 20px;
}

@media (min-width:768px) {
    h2, .h2 {
        font-size: 34px;
    }
}

h3, .h3 {
    font-size: 16px;
}

@media (min-width:768px) {
    h3, .h3 {
        font-size: 24px;
    }
}

h4, .h4 {
    font-size: 20px;
}

h5, .h5 {
    font-size: 16px;
}

h6, .h6 {
    font-size: 14px;
}

.bold-text {
    font-family: "robotomedium","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.4;
}

.heavy-text {
    font-family: "robotobold","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 900;
}

p {
    margin: 0 0 11px;
    line-height: 1.4;
}

.lead {
    margin-bottom: 22px;
    font-weight: 300;
    line-height: 1.4;
}

@media (min-width:768px) {
    .lead {
        font-size: 15.6px;
    }
}

small, .small {
    font-size: 87%;
}

mark, .mark {
    background-color: #f8ae9b;
    padding: .2em;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #008593;
}

a.text-primary:hover, a.text-primary:focus {
    color: #005760;
}

.text-success {
    color: #93b23d;
}

a.text-success:hover, a.text-success:focus {
    color: #748c30;
}

.text-info {
    color: #17b9d3;
}

a.text-info:hover, a.text-info:focus {
    color: #1291a5;
}

.text-warning {
    color: #f37553;
}

a.text-warning:hover, a.text-warning:focus {
    color: #f04f23;
}

.text-danger {
    color: #d9534f;
}

a.text-danger:hover, a.text-danger:focus {
    color: #c9302c;
}

.text-brand-blue {
    color: #1a3651;
}

a.text-brand-blue:hover, a.text-brand-blue:focus {
    color: #0e1c2a;
}

.text-brand-blue-light {
    color: #49657b;
}

a.text-brand-blue-light:hover, a.text-brand-blue-light:focus {
    color: #364b5b;
}

.text-brand-blue-lighter {
    color: #819eb1;
}

a.text-brand-blue-lighter:hover, a.text-brand-blue-lighter:focus {
    color: #62869e;
}

.bg-primary {
    color: #fff;
    background-color: #008593;
}

a.bg-primary:hover, a.bg-primary:focus {
    background-color: #005760;
}

a.bg-primary:hover, a.bg-primary:focus {
    background-color: #005760;
}

.bg-success {
    background-color: #b4cd6e;
}

a.bg-success:hover, a.bg-success:focus {
    background-color: #a0c048;
}

a.bg-success:hover, a.bg-success:focus {
    background-color: #a0c048;
}

.bg-info {
    background-color: #4bd5eb;
}

a.bg-info:hover, a.bg-info:focus {
    background-color: #1dcbe6;
}

a.bg-info:hover, a.bg-info:focus {
    background-color: #1dcbe6;
}

.bg-warning {
    background-color: #f8ae9b;
}

a.bg-warning:hover, a.bg-warning:focus {
    background-color: #f5886b;
}

a.bg-warning:hover, a.bg-warning:focus {
    background-color: #f5886b;
}

.bg-danger {
    background-color: #e7908e;
}

a.bg-danger:hover, a.bg-danger:focus {
    background-color: #de6764;
}

a.bg-danger:hover, a.bg-danger:focus {
    background-color: #de6764;
}

.page-header {
    padding-bottom: 10px;
    margin: 44px 0 22px;
    border-bottom: 1px solid #eee;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 11px;
}

    ul ul, ol ul, ul ol, ol ol {
        margin-bottom: 0;
    }

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}

    .list-inline > li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
    }

dl {
    margin-top: 0;
    margin-bottom: 22px;
}

dt, dd {
    line-height: 1.42857143;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}

@media (min-width:768px) {
    .dl-horizontal dt {
        float: left;
        width: 160px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .dl-horizontal dd {
        margin-left: 180px;
    }
}

abbr[title], abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #777;
}

.initialism {
    font-size: 90%;
    text-transform: uppercase;
}

blockquote {
    padding: 11px 22px;
    margin: 0 0 22px;
    font-size: 20px;
    border-left: 5px solid #eee;
}

    blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child {
        margin-bottom: 0;
    }

    blockquote footer, blockquote small, blockquote .small {
        display: block;
        font-size: 80%;
        line-height: 1.42857143;
        color: #777;
    }

        blockquote footer:before, blockquote small:before, blockquote .small:before {
            content: '\2014 \00A0';
        }

    .blockquote-reverse, blockquote.pull-right {
        padding-right: 15px;
        padding-left: 0;
        border-right: 5px solid #eee;
        border-left: 0;
        text-align: right;
    }

        .blockquote-reverse footer:before, blockquote.pull-right footer:before, .blockquote-reverse small:before, blockquote.pull-right small:before, .blockquote-reverse .small:before, blockquote.pull-right .small:before {
            content: '';
        }

        .blockquote-reverse footer:after, blockquote.pull-right footer:after, .blockquote-reverse small:after, blockquote.pull-right small:after, .blockquote-reverse .small:after, blockquote.pull-right .small:after {
            content: '\00A0 \2014';
        }

address {
    margin-bottom: 22px;
    font-style: normal;
    line-height: 1.42857143;
}

.btn-default.disabled, .btn-primary.disabled, .btn-success.disabled, .btn-info.disabled, .btn-warning.disabled, .btn-danger.disabled, .btn-default[disabled], .btn-primary[disabled], .btn-success[disabled], .btn-info[disabled], .btn-warning[disabled], .btn-danger[disabled], fieldset[disabled] .btn-default, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-success, fieldset[disabled] .btn-info, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-danger {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-default .badge, .btn-primary .badge, .btn-success .badge, .btn-info .badge, .btn-warning .badge, .btn-danger .badge {
    text-shadow: none;
}

.btn {
    line-height: 1;
    margin-bottom: 5px;
}

    .btn:active, .btn.active {
        background-image: none;
    }

.btn-default {
    color: #fff !important;
    background-color: #819eb1;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

    .btn-default:hover, .btn-default:focus {
        color: #fff !important;
        background-color: #7192a7;
    }

    .btn-default:active, .btn-default.active {
        color: #fff !important;
        background-color: #7192a7;
    }

    .btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
        background-color: #5e8097;
        background-image: none;
    }

    .btn-default:active, .btn-default.active {
        background-color: #7192a7 !important;
    }

.btn-primary {
    color: #fff !important;
    background-color: #008593;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

    .btn-primary:hover, .btn-primary:focus {
        color: #fff !important;
        background-color: #006e7a;
    }

    .btn-primary:active, .btn-primary.active {
        color: #fff !important;
        background-color: #006e7a;
    }

    .btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
        background-color: #004e56;
        background-image: none;
    }

.btn-success {
    color: #fff !important;
    background-color: #93b23d;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

    .btn-success:hover, .btn-success:focus {
        color: #fff !important;
        background-color: #839f36;
    }

    .btn-success:active, .btn-success.active {
        color: #fff !important;
        background-color: #839f36;
    }

    .btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled.focus, .btn-success[disabled].focus, fieldset[disabled] .btn-success.focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
        background-color: #6d842d;
        background-image: none;
    }

    .btn-success:active, .btn-success.active {
        background-color: #839f36 !important;
    }

.btn-info {
    color: #fff !important;
    background-color: #17b9d3;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

    .btn-info:hover, .btn-info:focus {
        color: #fff !important;
        background-color: #14a5bc;
    }

    .btn-info:active, .btn-info.active {
        color: #fff !important;
        background-color: #14a5bc;
    }

    .btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled.focus, .btn-info[disabled].focus, fieldset[disabled] .btn-info.focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active {
        background-color: #11899c;
        background-image: none;
    }

.btn-warning {
    color: #fff !important;
    background-color: #f37553;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

    .btn-warning:hover, .btn-warning:focus {
        color: #fff !important;
        background-color: #f1623b;
    }

    .btn-warning:active, .btn-warning.active {
        color: #fff !important;
        background-color: #f1623b;
    }

    .btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled.focus, .btn-warning[disabled].focus, fieldset[disabled] .btn-warning.focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active {
        background-color: #ef471a;
        background-image: none;
    }

    .btn-warning:active, .btn-warning.active {
        background-color: #f15a32 !important;
    }

.btn-danger {
    color: #fff !important;
    background-color: #d9534f;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

    .btn-danger:hover, .btn-danger:focus {
        color: #fff !important;
        background-color: #d43f3a;
    }

    .btn-danger:active, .btn-danger.active {
        color: #fff !important;
        background-color: #d43f3a;
    }

    .btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled.focus, .btn-danger[disabled].focus, fieldset[disabled] .btn-danger.focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active {
        background-color: #c12e2a;
        background-image: none;
    }

.btn-gray {
    color: #fff !important;
    background-color: #6593b0;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

    .btn-gray:hover, .btn-gray:focus {
        color: #fff !important;
        background-color: #5587a6;
    }

    .btn-gray:active, .btn-gray.active {
        color: #fff !important;
        background-color: #5587a6;
    }

    .btn-gray.disabled, .btn-gray[disabled], fieldset[disabled] .btn-gray, .btn-gray.disabled:hover, .btn-gray[disabled]:hover, fieldset[disabled] .btn-gray:hover, .btn-gray.disabled:focus, .btn-gray[disabled]:focus, fieldset[disabled] .btn-gray:focus, .btn-gray.disabled.focus, .btn-gray[disabled].focus, fieldset[disabled] .btn-gray.focus, .btn-gray.disabled:active, .btn-gray[disabled]:active, fieldset[disabled] .btn-gray:active, .btn-gray.disabled.active, .btn-gray[disabled].active, fieldset[disabled] .btn-gray.active {
        background-color: #49748f;
        background-image: none;
    }

    .btn-gray:active, .btn-gray.active {
        background-color: #52819f !important;
    }

.btn-md {
    padding: 9px 25px;
    font-family: "robotomedium","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.btn-lg {
    padding: 15px 32px;
    font-family: "robotomedium","Helvetica Neue",Helvetica,Arial,sans-serif;
    border-radius: 4px;
}

.btn-lg-extra {
    padding: 15px 65px;
    font-family: "robotomedium","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    min-width: 290px;
    border-radius: 4px;
}

@media (min-width:768px) {
    .btn-lg-extra {
        padding: 15px 65px;
        min-width: auto;
    }
}

.thumbnail, .img-thumbnail {
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.075);
    box-shadow: 0 1px 2px rgba(0,0,0,0.075);
}

.navbar-default {
    font-family: "robotoregular","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #fff;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.2);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.2);
    border-radius: 0;
    margin-bottom: 10px;
    min-height: 0;
}

@media (min-width:768px) {
    .navbar-default {
        font-size: 16px;
    }
}

.navbar-default .navbar-nav {
    margin: 0;
}

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
        background: none !important;
    }

.navbar-default .open a {
    background: none !important;
    outline: none;
}

    .navbar-default .open a:hover {
        background: none !important;
    }

.navbar-default .open ul > li > a:hover {
    background-color: #e1eaef !important;
}

.navbar-default.affix {
    z-index: 1030;
    width: 100%;
}

.navbar-default .navbar-toggle {
    background-color: transparent;
    border: none;
    padding: 18px 10px;
}

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:visited {
        background-color: transparent;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #17b9d3;
    }

@media (min-width:768px) {
    .navbar-default .navbar-header {
        max-width: 220px;
    }
}

.navbar-brand, .navbar-nav > li > a {
    text-shadow: 0 1px 0 rgba(255,255,255,0.25);
}

.navbar-nav > li > a {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    line-height: 1;
}

    .navbar-nav > li > a.last {
        margin: 0 0 0 10px;
    }

@media (min-width:768px) {
    .navbar-nav > li > a {
        padding: 29px 5px;
        font-size: 15px;
    }
}

@media (min-width:992px) {
    .navbar-nav > li > a {
        padding: 29px 10px;
        font-size: 15px;
    }

        .navbar-nav > li > a.btn {
            padding: 9px 10px 9px;
            margin-top: 20px;
            margin-bottom: 0;
        }
}

.navbar-nav > li > a.btn-info {
    color: #fff !important;
    background-color: #17b9d3;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

    .navbar-nav > li > a.btn-info:hover, .navbar-nav > li > a.btn-info:focus {
        color: #fff !important;
        background-color: #14a5bc;
    }

    .navbar-nav > li > a.btn-info:active, .navbar-nav > li > a.btn-info.active {
        color: #fff !important;
        background-color: #14a5bc;
    }

    .navbar-nav > li > a.btn-info.disabled, .navbar-nav > li > a.btn-info[disabled], fieldset[disabled] .navbar-nav > li > a.btn-info, .navbar-nav > li > a.btn-info.disabled:hover, .navbar-nav > li > a.btn-info[disabled]:hover, fieldset[disabled] .navbar-nav > li > a.btn-info:hover, .navbar-nav > li > a.btn-info.disabled:focus, .navbar-nav > li > a.btn-info[disabled]:focus, fieldset[disabled] .navbar-nav > li > a.btn-info:focus, .navbar-nav > li > a.btn-info.disabled.focus, .navbar-nav > li > a.btn-info[disabled].focus, fieldset[disabled] .navbar-nav > li > a.btn-info.focus, .navbar-nav > li > a.btn-info.disabled:active, .navbar-nav > li > a.btn-info[disabled]:active, fieldset[disabled] .navbar-nav > li > a.btn-info:active, .navbar-nav > li > a.btn-info.disabled.active, .navbar-nav > li > a.btn-info[disabled].active, fieldset[disabled] .navbar-nav > li > a.btn-info.active {
        background-color: #11899c;
        background-image: none;
    }

    .navbar-nav > li > a.btn-info:active, .navbar-nav > li > a.btn-info.active {
        background-color: #14a5bc !important;
    }

.navbar-nav > li > a.btn-success {
    color: #fff !important;
    background-color: #93b23d;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

    .navbar-nav > li > a.btn-success:hover, .navbar-nav > li > a.btn-success:focus {
        color: #fff !important;
        background-color: #839f36;
    }

    .navbar-nav > li > a.btn-success:active, .navbar-nav > li > a.btn-success.active {
        color: #fff !important;
        background-color: #839f36;
    }

    .navbar-nav > li > a.btn-success.disabled, .navbar-nav > li > a.btn-success[disabled], fieldset[disabled] .navbar-nav > li > a.btn-success, .navbar-nav > li > a.btn-success.disabled:hover, .navbar-nav > li > a.btn-success[disabled]:hover, fieldset[disabled] .navbar-nav > li > a.btn-success:hover, .navbar-nav > li > a.btn-success.disabled:focus, .navbar-nav > li > a.btn-success[disabled]:focus, fieldset[disabled] .navbar-nav > li > a.btn-success:focus, .navbar-nav > li > a.btn-success.disabled.focus, .navbar-nav > li > a.btn-success[disabled].focus, fieldset[disabled] .navbar-nav > li > a.btn-success.focus, .navbar-nav > li > a.btn-success.disabled:active, .navbar-nav > li > a.btn-success[disabled]:active, fieldset[disabled] .navbar-nav > li > a.btn-success:active, .navbar-nav > li > a.btn-success.disabled.active, .navbar-nav > li > a.btn-success[disabled].active, fieldset[disabled] .navbar-nav > li > a.btn-success.active {
        background-color: #6d842d;
        background-image: none;
    }

    .navbar-nav > li > a.btn-success:active, .navbar-nav > li > a.btn-success.active {
        background-color: #839f36 !important;
    }

.navbar-static-top, .navbar-fixed-top, .navbar-fixed-bottom {
    border-radius: 0;
}

.navbar-right .dropdown-menu {
    left: 0;
}

@media (min-width:768px) {
    .dropdown-menu {
        min-width: 200px;
        padding: 0;
        border: 1px solid #eee;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

        .dropdown-menu:before {
            display: block;
            content: " ";
            width: 80px;
            height: 5px;
            margin-top: -5px;
            background-color: #93b23d;
        }

    .dropdown-submenu {
        position: relative;
    }

        .dropdown-submenu > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: 4px !important;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px;
            border-radius: 0 6px 6px 6px;
        }

        .dropdown-submenu:hover > .dropdown-menu {
            display: block;
        }

        .dropdown-submenu > a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #ccc;
            margin-top: 5px;
            margin-right: -10px;
        }

        .dropdown-submenu:before {
            display: block;
            content: " ";
            width: 80px;
            height: 5px;
            margin-top: -5px;
            background-color: #93b23d;
        }

        .dropdown-submenu:hover > a:after {
            border-left-color: #fff;
        }

        .dropdown-submenu.pull-left {
            float: none;
        }

            .dropdown-submenu.pull-left > .dropdown-menu {
                left: -100%;
                margin-left: 10px;
                -webkit-border-radius: 6px 0 6px 6px;
                -moz-border-radius: 6px 0 6px 6px;
                border-radius: 6px 0 6px 6px;
            }

    .dropdown-menu > li > a {
        padding: 10px 20px;
        border-top: 1px solid #eee;
        color: #777;
    }
}

@media (max-width:767px) {
    .navbar .navbar-nav .open .dropdown-menu > .active > a, .navbar .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-image: -webkit-linear-gradient(top, #008593 0, #006e7a 100%);
        background-image: -o-linear-gradient(top, #008593 0, #006e7a 100%);
        background-image: linear-gradient(to bottom, #008593 0, #006e7a 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff008593', endColorstr='#ff006e7a', GradientType=0);
    }
}

.text-white {
    color: #fff;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #008593;
}

a.text-primary:hover, a.text-primary:focus {
    color: #005760;
}

.text-success {
    color: #93b23d;
}

a.text-success:hover, a.text-success:focus {
    color: #748c30;
}

.text-info {
    color: #17b9d3;
}

a.text-info:hover, a.text-info:focus {
    color: #1291a5;
}

.text-warning {
    color: #f37553;
}

a.text-warning:hover, a.text-warning:focus {
    color: #f04f23;
}

.text-danger {
    color: #d9534f;
}

a.text-danger:hover, a.text-danger:focus {
    color: #c9302c;
}

.bg-primary {
    color: #fff;
    background-color: #008593;
}

a.bg-primary:hover, a.bg-primary:focus {
    background-color: #005760;
}

a.bg-primary:hover, a.bg-primary:focus {
    background-color: #005760;
}

.bg-success {
    background-color: #b4cd6e;
}

a.bg-success:hover, a.bg-success:focus {
    background-color: #a0c048;
}

a.bg-success:hover, a.bg-success:focus {
    background-color: #a0c048;
}

.bg-info {
    background-color: #4bd5eb;
}

a.bg-info:hover, a.bg-info:focus {
    background-color: #1dcbe6;
}

a.bg-info:hover, a.bg-info:focus {
    background-color: #1dcbe6;
}

.bg-warning {
    background-color: #f8ae9b;
}

a.bg-warning:hover, a.bg-warning:focus {
    background-color: #f5886b;
}

a.bg-warning:hover, a.bg-warning:focus {
    background-color: #f5886b;
}

.bg-danger {
    background-color: #e7908e;
}

a.bg-danger:hover, a.bg-danger:focus {
    background-color: #de6764;
}

a.bg-danger:hover, a.bg-danger:focus {
    background-color: #de6764;
}

.bg-brand-blue {
    background-color: #1a3651;
}

a.bg-brand-blue:hover, a.bg-brand-blue:focus {
    background-color: #0e1c2a;
}

a.bg-brand-blue:hover, a.bg-brand-blue:focus {
    background-color: #0e1c2a;
}

.bg-brand-blue-light {
    background-color: #49657b;
}

a.bg-brand-blue-light:hover, a.bg-brand-blue-light:focus {
    background-color: #364b5b;
}

a.bg-brand-blue-light:hover, a.bg-brand-blue-light:focus {
    background-color: #364b5b;
}

.bg-brand-blue-lighter {
    background-color: #819eb1;
}

a.bg-brand-blue-lighter:hover, a.bg-brand-blue-lighter:focus {
    background-color: #62869e;
}

a.bg-brand-blue-lighter:hover, a.bg-brand-blue-lighter:focus {
    background-color: #62869e;
}

.bg-brand-blue-lightest {
    background-color: #d7e3ea;
}

a.bg-brand-blue-lightest:hover, a.bg-brand-blue-lightest:focus {
    background-color: #b6ccd8;
}

a.bg-brand-blue-lightest:hover, a.bg-brand-blue-lightest:focus {
    background-color: #b6ccd8;
}

.bg-brand-gray {
    background-color: #515253;
}

a.bg-brand-gray:hover, a.bg-brand-gray:focus {
    background-color: #383939;
}

a.bg-brand-gray:hover, a.bg-brand-gray:focus {
    background-color: #383939;
}

.bg-brand-dark-gray {
    background-color: #383f46;
}

a.bg-brand-dark-gray:hover, a.bg-brand-dark-gray:focus {
    background-color: #21252a;
}

a.bg-brand-dark-gray:hover, a.bg-brand-dark-gray:focus {
    background-color: #21252a;
}

.alert-success {
    border-color: #d2e1a7;
}

.alert-info {
    border-color: #90e5f3;
}

.alert-warning {
    border-color: #fde8e2;
}

.alert-danger {
    border-color: #f4cecd;
}

.progress {
    background-image: -webkit-linear-gradient(top, #ebebeb 0, #f5f5f5 100%);
    background-image: -o-linear-gradient(top, #ebebeb 0, #f5f5f5 100%);
    background-image: linear-gradient(to bottom, #ebebeb 0, #f5f5f5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}

.progress-bar {
    background-image: -webkit-linear-gradient(top, #008593 0, #005760 100%);
    background-image: -o-linear-gradient(top, #008593 0, #005760 100%);
    background-image: linear-gradient(to bottom, #008593 0, #005760 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff008593', endColorstr='#ff005760', GradientType=0);
}

.progress-bar-success {
    background-image: -webkit-linear-gradient(top, #93b23d 0, #748c30 100%);
    background-image: -o-linear-gradient(top, #93b23d 0, #748c30 100%);
    background-image: linear-gradient(to bottom, #93b23d 0, #748c30 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff93b23d', endColorstr='#ff748c30', GradientType=0);
}

.progress-bar-info {
    background-image: -webkit-linear-gradient(top, #17b9d3 0, #1291a5 100%);
    background-image: -o-linear-gradient(top, #17b9d3 0, #1291a5 100%);
    background-image: linear-gradient(to bottom, #17b9d3 0, #1291a5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff17b9d3', endColorstr='#ff1291a5', GradientType=0);
}

.progress-bar-warning {
    background-image: -webkit-linear-gradient(top, #f37553 0, #f04f23 100%);
    background-image: -o-linear-gradient(top, #f37553 0, #f04f23 100%);
    background-image: linear-gradient(to bottom, #f37553 0, #f04f23 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff37553', endColorstr='#fff04f23', GradientType=0);
}

.progress-bar-danger {
    background-image: -webkit-linear-gradient(top, #d9534f 0, #c9302c 100%);
    background-image: -o-linear-gradient(top, #d9534f 0, #c9302c 100%);
    background-image: linear-gradient(to bottom, #d9534f 0, #c9302c 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
}

.progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
}

.list-group {
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.075);
    box-shadow: 0 1px 2px rgba(0,0,0,0.075);
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    text-shadow: 0 -1px 0 #005760;
    background-image: -webkit-linear-gradient(top, #008593 0, #00626d 100%);
    background-image: -o-linear-gradient(top, #008593 0, #00626d 100%);
    background-image: linear-gradient(to bottom, #008593 0, #00626d 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff008593', endColorstr='#ff00626d', GradientType=0);
    border-color: #00626d;
}

    .list-group-item.active .badge, .list-group-item.active:hover .badge, .list-group-item.active:focus .badge {
        text-shadow: none;
    }

.content .list-check li {
    padding-left: 30px;
    margin-bottom: 25px;
}

    .content .list-check li .fa-check {
        margin-left: -30px;
        margin-top: 2px;
        padding-right: 11px;
        display: block;
        float: left;
    }

    .content .list-check li strong {
        display: inline-block;
        *zoom: 1;
        *display: inline;
        margin-bottom: 10px;
    }

.content .list-check.list-column li {
    display: block;
    width: 100%;
    vertical-align: top;
}

    .content .list-check.list-column li.even {
        margin-right: 0;
    }

    .content .list-check.list-column li.odd {
        margin-left: 0;
    }

@media (min-width:768px) {
    .content .list-check.list-column li {
        display: inline-block;
        *zoom: 1;
        *display: inline;
        width: 45%;
    }

        .content .list-check.list-column li.even {
            margin-right: 4%;
        }

        .content .list-check.list-column li.odd {
            margin-left: 4%;
        }
}

.panel {
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.panel-default > .panel-heading {
    background-image: -webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
    background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}

.panel-primary > .panel-heading {
    background-image: -webkit-linear-gradient(top, #008593 0, #006e7a 100%);
    background-image: -o-linear-gradient(top, #008593 0, #006e7a 100%);
    background-image: linear-gradient(to bottom, #008593 0, #006e7a 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff008593', endColorstr='#ff006e7a', GradientType=0);
}

.panel-success > .panel-heading {
    background-image: -webkit-linear-gradient(top, #b4cd6e 0, #aac75b 100%);
    background-image: -o-linear-gradient(top, #b4cd6e 0, #aac75b 100%);
    background-image: linear-gradient(to bottom, #b4cd6e 0, #aac75b 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb4cd6e', endColorstr='#ffaac75b', GradientType=0);
}

.panel-info > .panel-heading {
    background-image: -webkit-linear-gradient(top, #4bd5eb 0, #34d0e9 100%);
    background-image: -o-linear-gradient(top, #4bd5eb 0, #34d0e9 100%);
    background-image: linear-gradient(to bottom, #4bd5eb 0, #34d0e9 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4bd5eb', endColorstr='#ff34d0e9', GradientType=0);
}

.panel-warning > .panel-heading {
    background-image: -webkit-linear-gradient(top, #f8ae9b 0, #f69b83 100%);
    background-image: -o-linear-gradient(top, #f8ae9b 0, #f69b83 100%);
    background-image: linear-gradient(to bottom, #f8ae9b 0, #f69b83 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8ae9b', endColorstr='#fff69b83', GradientType=0);
}

.panel-danger > .panel-heading {
    background-image: -webkit-linear-gradient(top, #e7908e 0, #e27c79 100%);
    background-image: -o-linear-gradient(top, #e7908e 0, #e27c79 100%);
    background-image: linear-gradient(to bottom, #e7908e 0, #e27c79 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe7908e', endColorstr='#ffe27c79', GradientType=0);
}

.well {
    border-color: #dcdcdc;
    background: #f2f2f2;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);
}

.heading {
    color: #383f46;
}

.subheading {
    color: #49657b;
}

.postsubmit {
    display: none;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 60px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 { /*padding-bottom:20px*/
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

.mt-0 {
    margin-top: 0;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 70px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-10 {
    margin-bottom: 25px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.line-breaker {
    display: inline;
}

@media (min-width:992px) {
    .line-breaker {
        display: block;
    }
}

.logo {
    max-width: 200px;
    height: auto;
    margin-left: 20px;
    padding: 9px 0;
}

@media (min-width:768px) {
    .logo {
        margin-left: 0;
        padding: 16px 0;
    }
}

.fa-heart {
    color: #7ac5cd;
}

.bubble {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    background-color: #1a3651;
    padding: 2px 8px 3px;
    border-radius: 5px;
    color: #17b9d3;
    font-size: 12px;
}

.btn-holder .btn {
    margin-left: 10px;
    margin-right: 10px;
}

.embed-container {
    position: relative;
    padding-bottom: 39.60%;
    padding-top: 150px;
    height: 0;
    overflow: hidden;
    margin: 0 auto;
}

    .embed-container iframe, .embed-container object, .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 99%;
        height: 100%;
    }

@media (min-width:768px) {
    .embed-container {
        max-width: 52%;
        padding-bottom: 39.60%;
        padding-top: 30px;
    }
}

.embed-container #main-popup-iframe {
    background-color: #000;
    border: 4px solid #000;
    border-radius: 5px;
}

.form-holder {
    margin-top: 30px;
}

    .form-holder label {
        display: block;
    }

.form-group {
    margin-bottom: 15px;
}

.psl-block, .dsl-block {
    padding: 10px 25px;
}

    .psl-block input[type="checkbox"], .dsl-block input[type="checkbox"] {
        margin-right: 10px;
    }

.buy-form-holder form {
    border: 1px solid #9ab1c1;
    border-radius: 5px;
}

    .buy-form-holder form input[type="text"] {
        padding: 5px;
    }

    .buy-form-holder form .dsl-block input[type="text"], .buy-form-holder form .psl-block input[type="text"] {
        max-width: 60px;
    }

    .buy-form-holder form .sub-group {
        margin-left: 26px;
    }

    .buy-form-holder form .left-bordered {
        border-left: none;
    }

@media (min-width:768px) {
    .buy-form-holder form .left-bordered {
        border-left: 1px solid #9ab1c1;
    }
}

.buy-form-holder form .total-price {
    margin-right: 20px;
    display: block;
}

@media (min-width:768px) {
    .buy-form-holder form .total-price {
        text-align: right;
        display: inline-block;
        *display: inline;
        *zoom: 1;
    }
}

.buy-form-holder form .priceblock {
    text-align: left;
}

@media (min-width:768px) {
    .buy-form-holder form .priceblock {
        text-align: right;
    }
}

.buy-form-holder form .bg-brand-blue-lightest .form-block-left {
    margin-left: 10px;
}

.buy-form-holder form .bg-brand-blue-lightest .priceblock {
    margin-right: 10px;
}

.buy-form-holder.buy .form-header {
    padding: 5px 25px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

    .buy-form-holder.buy .form-header h2, .buy-form-holder.buy .form-header .fa-question-circle {
        display: inline-block;
        *zoom: 1;
        *display: inline;
    }

    .buy-form-holder.buy .form-header .fa-question-circle {
        color: #eee;
        margin-left: 8px;
        font-size: 18px;
    }

.buy-form-holder.buy .form-footer {
    background-color: #d7e3ea;
    border-top: 1px solid #b6ccd8;
    overflow: hidden;
    padding: 6px 25px 2px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 12px;
}

    .buy-form-holder.buy .form-footer .coupon-input {
        height: 24px;
    }

    .buy-form-holder.buy .form-footer input {
        background-color: #f8fafc;
        border: 1px solid #c6d7e1;
        font-size: 14px;
    }

    .buy-form-holder.buy .form-footer .security-info {
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 8px;
        float: none;
    }

@media (min-width:768px) {
    .buy-form-holder.buy .form-footer .security-info {
        float: right;
    }
}

.buy-form-holder.buy .form-body {
    background-color: #f8fafc;
    padding: 5px 25px 0;
}

    .buy-form-holder.buy .form-body .icon-holder {
        background-position: -161px -133px;
        height: 50px;
        vertical-align: middle;
    }

    .buy-form-holder.buy .form-body label {
        vertical-align: middle;
        font-size: 14px;
        color: #055663;
    }

    .buy-form-holder.buy .form-body input[type="text"] {
        width: 60px;
        border: 1px solid #c6d7e1;
        border-radius: 5px;
        text-align: center;
    }

@media (min-width:768px) {
    .buy-form-holder.buy .form-body input[type="text"] {
        width: 40px;
    }
}

@media (min-width:992px) {
    .buy-form-holder.buy .form-body input[type="text"] {
        width: 60px;
    }
}

.buy-form-holder.buy .form-body .btn-lg {
    padding: 11px 35px;
}

@media (min-width:768px) {
    .buy-form-holder.buy .form-body .btn-lg {
        padding: 11px 10px;
    }
}

@media (min-width:992px) {
    .buy-form-holder.buy .form-body .btn-lg {
        padding: 11px 35px;
    }
}

.buy-form-holder.buy .form-body .form-group {
    margin-bottom: 0 !important;
    padding-top: 15px;
}

@media (min-width:768px) {
    .buy-form-holder.buy .form-body .form-group {
        text-align: center;
    }
}

.buy-form-holder.buy .form-body .form-group label {
    font-size: 16px;
    color: #383f46;
}

    .buy-form-holder.buy .form-body .form-group label small {
        color: #777;
    }

.buy-form-holder.buy .productionLicense, .buy-form-holder.buy .form-group, .buy-form-holder.buy .priceblock {
    padding: 10px 0;
    min-height: 60px;
}

@media (min-width:768px) {
    .buy-form-holder.buy .productionLicense, .buy-form-holder.buy .form-group, .buy-form-holder.buy .priceblock {
        padding: 10px;
        min-height: 85px;
    }
}

@media (min-width:992px) {
    .buy-form-holder.buy .productionLicense, .buy-form-holder.buy .form-group, .buy-form-holder.buy .priceblock {
        min-height: 71px;
    }
}

.buy-form-holder.buy .productionLicense {
    position: relative;
}

    .buy-form-holder.buy .productionLicense .icon-holder {
        width: 43px;
        height: 50px;
        background: url(../images/general-sprite.png) no-repeat -161px -133px;
        position: absolute;
        left: 0;
        top: 6px;
    }

    .buy-form-holder.buy .productionLicense label {
        padding-left: 50px;
    }

.buy-form-holder.buy .coupon-code {
    padding: 10px 0;
}

@media (min-width:768px) {
    .buy-form-holder.buy .coupon-code {
        padding: 10px;
    }
}

.buy-form-holder.buy .coupon-code input[type="text"] {
    width: 115px;
}

@media (min-width:768px) {
    .buy-form-holder.buy .form-group {
        border-left: 1px solid #c6d7e1;
        border-right: 1px solid #c6d7e1;
    }
}

.guarantee .guarantee-icon {
    width: 85px;
    height: 60px;
    background: url(../images/general-sprite.png) no-repeat 0 -300px;
}

.guarantee p {
    margin-top: 6px;
    margin-bottom: 20px;
}

@media (min-width:768px) {
    .guarantee p {
        margin-bottom: 0;
    }
}

.label-text {
    min-width: 200px;
}

.productionLicense h2 {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    font-size: 19px;
}

@media (min-width:1200px) {
    .productionLicense .icon-holder {
        background: url(../images/general-sprite.png) no-repeat -12px -131px;
        display: inline-block;
        *zoom: 1;
        *display: inline;
        width: 43px;
        height: 58px;
        margin-right: 10px;
        vertical-align: middle;
    }
}

.developmentLicense h2 {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    font-size: 19px;
}

@media (min-width:1200px) {
    .developmentLicense .icon-holder {
        background: url(../images/general-sprite.png) no-repeat -58px -131px;
        display: inline-block;
        *zoom: 1;
        *display: inline;
        width: 50px;
        height: 58px;
        margin-right: 10px;
        vertical-align: middle;
    }
}

.content {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 48px;
}

    .content li {
        margin-bottom: 15px;
    }

    .content dt {
        font-family: "robotoregular","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 600;
    }

    .content dd {
        margin-bottom: 25px;
    }

@media (min-width:768px) {
    .content {
        margin-top: 70px;
    }
}

.hero.home-hero {
    background-color: #b9deb9;
    text-align: center;
}

@media (min-width:768px) {
    .hero.home-hero {
        background: #b9deb9 url(../../images/hero-gradient.png) repeat-x center top;
        background-size: auto;
    }
}

@media only screen and (min-width:768px) and (min--moz-device-pixel-ratio:2),only screen and (min-width:768px) and (-o-min-device-pixel-ratio:2/1),only screen and (min-width:768px) and (-webkit-min-device-pixel-ratio:2),only screen and (min-width:768px) and (min-device-pixel-ratio:2) {
    .hero.home-hero {
        background: #b9deb9 url(../../images/hero-gradient.png) repeat-x center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.hero.home-hero .button-holder {
    margin: 15px 0;
}

    .hero.home-hero .button-holder .btn {
        padding: 15px 50px;
        margin-right: 10px;
        margin-left: 10px;
    }

.hero.home-hero h1 {
    text-shadow: #95b592 0.04em 0.05em 0.1em;
}

    .hero.home-hero h1 small, .hero.home-hero h1 .small {
        color: #515253 !important;
    }

@media (min-width:768px) {
    .hero.home-hero {
        text-align: left;
    }

        .hero.home-hero h1 {
            font-size: 40px;
            text-shadow: #95b592 0.04em 0.05em 0.1em;
        }

        .hero.home-hero .lead {
            font-size: 18px;
        }

        .hero.home-hero .button-holder {
            margin: 25px 0;
        }
}

@media (min-width:992px) {
    .hero.home-hero {
        text-align: left;
    }

        .hero.home-hero h1 {
            font-size: 40px;
        }

        .hero.home-hero .lead {
            font-size: 24px;
        }
}

@media (min-width:1200px) {
    .hero.home-hero {
        text-align: left;
    }

        .hero.home-hero h1 {
            font-size: 42px;
            text-shadow: #95b592 0.04em 0.05em 0.1em;
        }

        .hero.home-hero .lead {
            font-size: 24px;
        }
}

.hero .hero-content {
    margin-bottom: -168px;
}

@media (min-width:768px) {
    .hero .hero-content {
        margin-bottom: -200px;
    }
}

.hero .hero-bg {
    background: url(../../images/hero-bg.jpg) no-repeat center top;
}

.intro-section img {
    max-width: 160px;
    height: auto;
    margin-bottom: 30px;
}

.intro-section p {
    max-width: 310px;
    margin: 30px auto 0;
}

.slidershare-section {
    border-top: 1px solid #dde9f2;
    background: url(../../images/slidershare-bg.png) repeat-x center bottom;
    padding-top: 20px;
    margin-top: 220px;
}

    .slidershare-section:before, .slidershare-section:after {
        content: " ";
        display: table;
    }

    .slidershare-section:after {
        clear: both;
    }

@media (min-width:768px) {
    .slidershare-section {
        background-position: center bottom;
    }
}

.slidershare-section .slideshare-wrapper {
    margin-bottom: -43px;
}

.feature-list li .feature {
    margin: 0 10px 15px 10px;
}

@media (min-width:992px) {
    .feature-list li .feature {
        margin: 0 45px 15px 45px;
    }
}

.feature-list li .feature:before {
    content: "";
    display: inline-block;
    *zoom: 1;
    *display: inline;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    float: left;
    margin-bottom: 72px;
    background: url(../../images/icons.png) no-repeat 0 0;
}

@media (min-width:768px) {
    .feature-list li .feature:before {
        margin-bottom: 90px;
    }
}

@media (min-width:992px) {
    .feature-list li .feature:before {
        margin-bottom: 60px;
    }
}

@media only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:2/1),only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {
    .feature-list li .feature:before {
        background: url(../../images/icons@2x.png) no-repeat 0 0;
        background-size: 500%;
    }
}

.feature-list li .feature.icon1:before {
    background-position: -51px -52px;
}

.feature-list li .feature.icon2:before {
    background-position: 0 -10px;
}

.feature-list li .feature.icon3:before {
    background-position: -93px -4px;
}

.feature-list li .feature.icon4:before {
    background-position: 0 -47px;
}

.feature-list li .feature.icon5:before {
    background-position: -51px -1px;
}

.feature-list li .feature.icon6:before {
    background-position: -93px -52px;
}

#testimonials.owl-carousel .owl-item img {
    width: auto;
    height: auto;
    margin: 0 auto;
}

.testimonial {
    margin-bottom: 40px;
}

@media (min-width:768px) {
    .testimonial {
        margin-bottom: 20px;
    }
}

.testimonial .testimonial-wrapper {
    margin: 0 30px;
}

    .testimonial .testimonial-wrapper:before {
        content: "";
        width: 60px;
        height: 50px;
        margin-left: -35px;
        background: url(../images/general-sprite.png) no-repeat 0 -70px;
        float: left;
    }

.testimonial .testimonial-text {
    font-style: italic;
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 30px;
}

.testimonial .testimonial-by {
    color: #819eb1;
    font-size: 14px;
}

.testimonial .testimonial-designation {
    font-size: 14px;
}

.testimonial .testimonial-company {
    font-size: 14px;
    margin-bottom: 20px;
}

.testimonial .testimonial-logo {
    margin-bottom: 10px;
    width: auto !important;
    height: auto !important;
}

@media (min-width:768px) {
    .right-block {
        width: 100%;
        padding-left: 25px;
    }

        .right-block.bordered {
            border-left: 2px solid #d7e3ea;
            padding-left: 50px;
            min-height: 400px;
        }
}

@media (min-width:768px) {
    .left-block {
        width: 100%;
        padding-right: 25px;
    }

        .left-block.bordered {
            width: 100%;
            border-right: 2px solid #d7e3ea;
            padding-right: 50px;
            min-height: 400px;
        }
}

.vblock a {
    min-height: 200px;
    text-align: center;
}

@media (min-width:320px) and (max-width:480px) {
    .vblock a {
        min-height: 210px;
    }
}

@media (min-width:481px) and (max-width:600px) {
    .vblock a {
        min-height: 245px;
    }
}

@media (min-width:601px) and (max-width:768px) {
    .vblock a {
        min-height: 295px;
    }
}

@media (min-width:768px) {
    .vblock a {
        min-height: 250px;
    }
}

@media (min-width:992px) {
    .vblock a {
        min-height: 280px;
    }
}

@media (min-width:1200px) {
    .vblock a {
        min-height: 260px;
    }
}

.vblock .vholder img {
    width: 100%;
    border: 1px solid #d1d2d2;
    padding: 4px;
}

    .vblock .vholder img:hover {
        border: 1px solid #aaabac;
    }

.vblock .playicon {
    font-size: 40px;
    position: absolute;
    margin-left: -22px;
    color: #ce1b1b;
    top: 15%;
    left: 50%;
}

@media (min-width:768px) {
    .vblock .playicon {
        min-height: 260px;
        top: 30%;
        left: 50%;
    }
}

#thumbnail-holder a {
    margin-bottom: 25px;
}

    #thumbnail-holder a img {
        border: 1px solid #d1d2d2;
        padding: 4px;
    }

    #thumbnail-holder a:hover img {
        border: 1px solid #aaabac;
    }

footer {
    color: #819eb1;
    font-size: 14px;
    font-family: "robotoregular","Helvetica Neue",Helvetica,Arial,sans-serif;
}

    footer .heading {
        color: #c0cfd8;
        font-family: "robotoregular","Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    footer .footer-nav {
        background-color: #49657b;
        padding: 40px 0 0;
    }

        footer .footer-nav .heading {
            margin-bottom: 20px;
        }

        footer .footer-nav ul {
            margin-bottom: 20px;
        }

@media (min-width:768px) {
    footer .footer-nav ul {
        min-height: 140px;
    }
}

footer .footer-nav ul li {
    margin-bottom: 10px;
}

footer .footer-nav a {
    color: #94adbd;
}

    footer .footer-nav a:hover, footer .footer-nav a:active {
        color: #8aa5b7;
    }

footer .footer-bottom {
    background-color: #E3EAF1;
    color: #B8BFC6;
    padding: 20px 0 6px;
}

footer hr {
    margin-top: 0;
    border-top-color: #567791;
}

.social-icons {
    text-align: center;
    overflow: hidden;
}

    .social-icons li {
        margin: 0 2px;
        padding: 0;
    }

        .social-icons li a {
            display: block;
            width: 40px;
            height: 40px;
            padding-top: 3px;
            border-radius: 50%;
            font-size: 1.8em;
            background-color: #CCD3DA;
            color: #B8BFC6;
            text-align: center;
        }

            .social-icons li a:hover {
                background-color: #52728b;
            }

@media (min-width:768px) {
    .social-icons {
        text-align: right;
    }
}

.copyright {
    text-align: center;
}

@media (min-width:768px) {
    .copyright {
        margin-top: 10px;
        text-align: left;
    }
}

.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

    .owl-theme .owl-controls .owl-nav [class*=owl-] {
        color: #fff;
        font-size: 14px;
        margin: 5px;
        padding: 4px 7px;
        background: #d6d6d6;
        display: inline-block;
        cursor: pointer;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

        .owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
            background: #869791;
            color: #fff;
            text-decoration: none;
        }

    .owl-theme .owl-controls .owl-nav .disabled {
        opacity: .5;
        cursor: default;
    }

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

    .owl-theme .owl-dots .owl-dot span {
        width: 13px;
        height: 13px;
        margin: 5px 5px;
        background: #fff;
        border: 1px solid #1291a5;
        display: block;
        -webkit-backface-visibility: visible;
        -webkit-transition: opacity 200ms ease;
        -moz-transition: opacity 200ms ease;
        -ms-transition: opacity 200ms ease;
        -o-transition: opacity 200ms ease;
        transition: opacity 200ms ease;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
    }

    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: #17b9d3;
    }

.owl-theme .item img {
    height: auto;
}

.team-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

    .team-list li {
        float: left;
        width: 100%;
        text-align: center;
        margin: 25px 0;
    }

@media (min-width:768px) {
    .team-list li {
        width: 50%;
    }
}

@media (min-width:992px) {
    .team-list li {
        width: 25%;
    }
}

.team-list li .member-pic {
    border-bottom: 1px solid #d5d5d5;
}

    .team-list li .member-pic img {
        width: 85%;
        height: auto;
        margin: 0 auto;
    }

.team-list li .member-detail {
    margin: 10px;
    font-family: "robotolight","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.team-list li .member-name {
    font-size: 16px;
    color: #222;
}

@media (min-width:992px) {
    .team-list li .member-name {
        font-size: 20px;
    }
}

.team-list li .member-designation {
    font-size: 12px;
}

.version-history h3 {
    margin-bottom: 20px;
    font-size: 24px;
}

.version-history h4 {
    font-size: 16px;
    font-weight: 600;
}

.version-history ul {
    margin-bottom: 30px;
}

.animated {
    visibility: hidden;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
}

.owl-item.animated {
    visibility: visible;
}

.pb-600 {
    bottom: 0;
    width: 100%;
}

.pt-600 {
    padding-bottom: 60px;
}

.btn-normal-extra {
    padding: 15px 46px;
    font-family: "robotomedium","Helvetica Neue",Helvetica,Arial,sans-serif;
    min-width: 206px;
    border-radius: 4px;
}

.fullwidth {
    width: 70% !important;
}

.chartsspec {
}

.dropOption {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
/* left: -50%; */
.partnerform {
    padding: 25px 0;
    border-top: none !important;
    border-bottom: 1px solid #d5d5d5;
}

.preferred {
    background-color: #faa71a;
    display: inline-block;
    font-size: 10px;
    font-size: 1rem;
    line-height: 14px;
    padding: 2px 5px;
    color: #fff;
    text-transform: uppercase;
    vertical-align: middle;
    font-family: robotoregular,Arial,sans-serif;
    font-weight: normal;
    letter-spacing: .05em;
    margin-left: 8px;
}

.labeladv {
    display: inline !important;
    font-weight: normal !important;
}

.partnerRow {
    border-top: 1px solid #c1c1c1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mb20 {
    margin-bottom: 20px !important;
}

.reseller-name {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 1.4;
}

.inline {
    display: inline-block;
}

address {
    font-style: normal;
    color: #858585;
}

.form-holderPartner {
    background-color: #f4f4f4;
    border: 1px solid #c1c1c1;
    padding: 20px;
    margin-bottom: 20px;
}

.partnerImage {
    margin-top: 30px;
}

hr {
    margin-top: 0px !important;
}

.pwidth {
    max-width: 990px;
}

.darkash {
    color: #6B6C6E;
}

.lgtash {
    color: #8E8E90;
}

.mb-100 {
    margin-bottom: 35px !important;
}

.bold {
    font-weight: bold;
}

.numbers {
    color: #71CCE2;
    position: relative;
    float: left;
    font-weight: bold;
    font-size: 30px;
    /*margin-left: 14px;*/
    margin-top: -3px;
}

.pmaxwidth {
    max-width: 329px;
    padding-left: 45px;
}

/*.linkprod {
    color: #71CCE2;
    font-weight: bold;
}*/

.linkprod {
   color: #71CCE2 ;
   font-weight: bold;
}
.linkprod:hover {
   color: #71CCE2 ;
   font-weight: bold;
}

.ribbon {
    height: 30px;
    background-color: #0072C5;
    padding: 2px;
}

.ribbontext {
    color: #FFFFFF;
    font-size: 13px;
    padding: 4px 0px 2px 29px;
    cursor: pointer;
    text-decoration: none;
}

    .ribbontext:hover {
        color: #FFFFFF;
        text-decoration: none;
    }

    .ribbontext:active {
        color: #FFFFFF;
        text-decoration: none;
    }
