.tooltipster-shadow {
	border-radius: 5px;
	background: #fff;
	/* box-shadow: 0px 0px 14px rgba(0,0,0,0.3); */
	/* border-width: 10px; */
	/* border-color: #979797; */
	border: 1px solid #979797;
	/* background: #ededed; */
	color: #2c2c2c;
}
.tooltipster-shadow .tooltipster-content {
	/* font-family: 'Arial', sans-serif; */
	font-family: tahoma;
	font-size: 11px;
	line-height: 16px;
	padding: 8px 10px;
}