/*!
 * Collabion Charts Add-In for SharePoint Online
 * Copyright Collabion Technologies LLP
 * License Information at <https://go.microsoft.com/fwlink/?LinkID=521715&omkt=en-US>
 */


/* #dataPanel #childDataPanel
{
	height: 100%;
	width: 100%;
}

#dataPanel #childDataPanel .div
{
	width: 100%;
} */

#invokeBtn {
	cursor: pointer;
	padding: 2px 5px 2px 5px;
	border-color: #ccc;
	display: inline-block;
	margin-bottom: 0;
	font-family: 'LatoWeb', tahoma, helvetica;
	font-size: 16px;
	/*font-weight: 400;*/
	line-height: 1.42857143;
	text-align: center;
	color: dimgrey;
	float: right;
}

	#invokeBtn:hover, #invokeBtn:hover span {
		/*color: #49657B;*/
		color: darkslategrey;
		background-position: -49px -158px;
	}

.editIcon {
	height: 9px;
	width: 13px;
	background-position: -36px -158px;
}

	.editIcon:hover {
		/*background-position: -49px -158px;*/
	}

#invokeBtn:visited {
	color: black;
}

/* -------------------------------------------- DATA -------------------------------------------- */

#pnlDataSource123 {
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

#pnlDataSource {
	/* height: 100%;
	width: 100%;
	vertical-align: middle; */
	position: relative;
}

	#pnlDataSource .x-panel-bwrap {
		/* width: 100%;
	height: 100%; */
		overflow-y: auto;
	}

	#pnlDataSource .x-panel-body {
		position: relative;
		/* margin: 0 auto;
	top: 25%; */
		margin-left: 10px;
		margin-top: 20px;
		/* width: 300px; */
		/* height: 111px; */
	}

	#pnlDataSource .x-table-layout td {
		padding-left: 7px;
		padding-bottom: 5px;
	}

		#pnlDataSource .x-table-layout td:first-child {
			padding-bottom: 9px;
		}

	#pnlDataSource .x-table-layout-cell {
		padding: 1px 4px 3px 0px;
	}

	#pnlDataSource table {
		vertical-align: middle;
	}

.subHead {
	color: #49657B;
	/* font-weight: 500; */
	/* font-size: large; */
	/* width: 150px; */
	font-size: 13px;
	/*font-weight: bold;*/
	/* font-family: "'Open Sans', helvetica, sans-serif, tahoma, arial"; */
	/*font-family: 'LatoWebBold', sans-serif;*/
	font-family: 'LatoWebSemibold', tahoma, helvetica;
	display: inline-block;
}

#content-panel .x-panel-body {
	overflow: hidden !important;
}

#DataSource table {
	border-spacing: 4px;
}

.btn1, .btn2 {
	margin-top: 4px;
}

/* -------------------------------------------- Charts -------------------------------------------- */

#pnlCharts {
	height: 100%;
}

	#pnlCharts .x-panel-bwrap {
		height: 100%;
	}

		#pnlCharts .x-panel-bwrap .x-panel-body {
			height: 100%;
		}

#pnlCat {
	/* height: 110px !important; */
	border: 0;
	border-bottom: 1px solid #C6C6C6;
	/* padding-left: 3%; */
	padding-bottom: 3px;
}

#pnlCType {
	height: 100%;
	overflow-y: auto;
}

#pnlChartTypes {
	margin-top: 20px;
	/* padding-left: 3%; */
	padding-left: 10px;
	/*width: 95%;*/
	position: inherit;
}

#chartContent {
	overflow-x: auto !important;
}

.cc-thumb {
	padding: 9px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
	background-color: #F0F0F0;
	border: none;
}

.cc-thumb-cat {
	padding: 9px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 6px;
	text-align: center;
	background-color: #F0F0F0;
	border: none;
}

.cc-thumb-FixWid {
	padding: 8px 9px 5px 9px;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 10px;
	text-align: center;
	background-color: #F0F0F0;
	/* width: 110px; */
	width: 85px;
}

.cc-thumb-FixWid, .cc-thumb-cat {
	padding: 9px;
	background-color: #F4F6F5;
	/* border: none; */
	border: 1px solid #E5E5E5;
	border-radius: 3px;
	color: #B6B6B6;
	text-align: center;
}

.cc-thumb-downArw {
	background-repeat: no-repeat;
	text-align: center;
	/* width: 85px; */
	width: 65px;
	/* top: 98px; */
	/* position: absolute; */
	/* padding-top: 8px; */
	position: fixed;
	display: none;
	border: none;
}

.x-view-selected > .cc-thumb-downArw {
	display: block;
}

.cc-thumb img {
}

.cc-thumb-wrap, .cc-thumb-wrap-cat {
	cursor: default;
	float: left;
	margin: 0;
	border: 1px solid transparent;
	padding-top: 0%;
}

.cc-thumb-wrap-cat {
	/* width: 85px; */
	width: 70px;
	height: 100%;
	position: relative;
	margin-top: 5px;
}

	.cc-thumb-wrap-cat .x-form-item {
		color: #B6B6B6;
	}

.cc-thumb-FixWid-label, .cc-thumb-label {
	overflow: hidden;
	color: #1F467D;
	text-align: center;
	vertical-align: middle;
	/* width: 100%; */
	width: 103px;
	border: none;
}

.cc-thumb-label {
	padding-left: 6px;
}

	.cc-thumb-label .aux {
		display: inline-block;
		vertical-align: middle;
		width: 0px;
		height: 100%;
	}

	.cc-thumb-label div {
		margin: 0 3px;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		width: 100%;
	}

	.cc-thumb-label div, .cc-thumb-label .aux {
		display: inline;
	}

.cc-thumb-link:link {
	color: blue;
}

.cc-thumb-link:visited {
	color: blue;
}

.cc-thumb-link-disable {
	color: #808080;
	cursor: default;
}

.cc-thumbnail-img {
	display: inline-block;
	background-image: url(../../../assets/chart-types.png);
}

.cc-preview-label {
	position: relative;
	top: 45%;
	color: #555555;
}

.cc-render-timeout {
	position: absolute;
	text-align: center;
	top: 45%;
	color: #555555;
	zindex: 10000;
}

.cc-render-timeout-hidden {
	display: none;
}

.cc-x-view-over {
	border: 1px solid #bbbbbb;
}

.cc-x-view-over-noborder .cc-thumb-cat, .cc-x-view-over-noborder .cc-thumb-FixWid {
	/* border:1px solid #bbbbbb; */
	/*border:none;*/
	/* background:#D0D0D0; */
	background: #E0E0E0;
}

.cc-x-view-over-noborder .x-form-item {
	color: #49657A;
}

.chrtAxTemplate {
	/* color: silver; */
	color: #49657E;
}

.chrtAxTemplate.x-view-selected span{
	color: #AAAAAA !important;
}

.chrtAxTemplate.x-view-selected div span{
	background-position-y: -134px !important;
}

.chrtAxTemplate div span{
	background-position-y: -143px !important;
}

.x-view-selected .cc-thumb-cat, .x-view-selected .cc-thumb-FixWid {
	/*background:#D0D0D0;*/
	background: #E0E0E0;
}

.x-view-selected .x-form-item {
	color: #49657A;
	font-weight: bold;
}


/* -------------------------------------------- Number -------------------------------------------- */

#prefixSufix td:first-child, #scaleNo td:first-child + td, #roundNo td:first-child + td {
	/* text-align: right; */
	vertical-align: middle;
}

#prefixSufix td:last-child {
	text-align: right;
}

#prefixSufix td:first-child + td, #scaleNo td:first-child + td + td {
	text-align: right;
}

#prefixSufix td:first-child {
	text-align: left;
}

#numberContent td:first-child, #scaleNo td:first-child, #roundNo td:first-child {
	width: 50%;
	/* text-align: left; */
}

	#scaleNo td:first-child + td {
		padding-left: 7px;
		vertical-align: bottom;
	}

#numberContent td {
	vertical-align: top;
	/* height: 102px; */
}

#numberContent .x-form-cb-label {
	/* background-image: none; */
}

.label-no-image .x-form-cb-label {
	background-image: none;
}

#decimalStep, #scaleNo, #prefixSufix, #roundNo {
	/* height: 102px; */
}

#roundNo, #decimalStep, #scaleNo {
	border: none;
	/* height: 100%; */
	overflow: auto;
}

	#prefixSufix div, #roundNo div, #scaleNo div, #decimalStep div {
		border: none;
	}

#prefixSufix, #decimalStep {
	border-right: 1px solid #CBCBCB;
}

#numberContent input[type=checkbox] {
	/* position: relative; */
	/* width: 13px; */
	/* height: 13px; */
}

#scaleNo td:first-child, #decimalStep td:first-child {
	/* width: 5%; */
	width: 10px;
	/* min-width: 15px; */
}

#scaleNo td:last-child, #roundNo td:last-child {
	width: 50%;
}

#tblScale td {
	width: 50%;
}

#roundNo td:first-child {
	/* padding-left: 0px; */
}

#roundNo table, #scaleNo table, #decimalStep table, #prefixSufix table {
	/*border-spacing: 0px 10px;*/
	border-spacing: 0px 5px;
	/* padding: 10px; */
}

#roundNo td:first-child + td + td {
	width: 50%;
}

#scaleNo td:first-child + td + td {
	width: 50%;
}

#decimalStep .x-fieldset {
	border: none;
	padding: 0px;
	/*padding-left: 7px;*/
	padding-top: 5px;
}

	#decimalStep .x-fieldset div {
		/*padding-bottom: 10px;*/
	}

#decimalStep td {
	vertical-align: bottom;
}

#roundNo .cc-x-form-spinner-triggerLeft {
	background-image: none;
	border-right: none;
	border-left: 1px solid #b5b8c8;
}

#roundNo .cc-x-form-spinner-trigger {
	background-image: none;
}

#roundNo input[type="text"] {
	/* width: 115px; */
	/* padding-left: 18px; */
	text-align: center;
}

#numberContent input[type="text"] {
	width: 80px;
}

#roundNo td div:first-child {
	float: right;
}

#rdRegular + label {
	line-height: 0px;
	top: 0px;
}

#rdEurope + label {
	line-height: 0px;
	top: 0px;
}

div #rdRegular:parent {
	padding-top: 2px;
}

div < #rdEurope {
	padding-top: 5px;
}

#rdRegular, #rdEurope {
	margin-top: 3px;
}

.x-form-element {
	padding-left: 0px;
}


/* -------------------------------------------- Fields -------------------------------------------- */
#cntrYAxis {
	margin-top: -5px;
}

.linkBtn {
	background-color: transparent;
	border: none;
	/* color: blue; */
	color: #18BAD1;
	cursor: pointer;
	padding: 0px;
	font-weight: normal;
	font-family: 'LatoWeb', tahoma, helvetica;
	font-size: 12px;
	margin-top: 5px;
}

.yaxis {
	/* height: 22px; */
	/*height: 28px;*/
	/*width: 33px;*/
	height: 22px;
	width: 23px;
	padding-top: 4px;
	padding-left: 10px;
	cursor: pointer;
	border: 1px solid #CBCBCB;
	background-position: center;
}

.yaxis1 {
	/*background: url('../../../assets/primary-axis-light-13x9.png') no-repeat center;*/
	/*background: url('../../../assets/small-icons1.png') no-repeat center;
	background-position-x: 0px;*/
	border-right: 0;
}

	.yaxis1 span {
		background-position: -169px -134px;
	}

.yaxis2 span {
	/*background: url('../../../assets/bar-chart-light-13x9.png') no-repeat center;*/
	/*background: url('../../../assets/small-icons1.png') no-repeat center;
	background-position-x: -47px;*/
	/* border-left-color: rgba(0, 0, 0, 0.3); */
	background-position: -195px -134px;
}

.yaxis3 span {
	/*background: url('../../../assets/close-icon-13x9.png') no-repeat center;*/
	/*background: url('../../../assets/small-icons1.png') no-repeat center;
	background-position-x: -114px;*/
	background-position: -234px -134px;
}

.buttonSpan {
	height: 15px;
	width: 13px;
	overflow: hidden;
	position: absolute;
	margin-top: 1px;
	background: url(../../../assets/small-icons.png) no-repeat center;
}

.callout {
	display: none;
	position: absolute;
	/* margin: 18px 0; */
	margin: 11px 0;
	padding: 18px 20px;
	/* background-color: #eef4f9; */
	background-color: white;
	/* easy rounded corners for modern browsers */
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	/* width: 50px; */
	/* top: 100px; */
	left: 100px;
	z-index: 1002;
}

	.callout .notch {
		position: absolute;
		top: -10px;
		left: 20px;
		margin: 0;
		border-top: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		/* border-bottom: 10px solid #eef4f9; */
		border-bottom: 10px solid white;
		padding: 0;
		width: 0;
		height: 0;
		/* ie6 height fix */
		font-size: 0;
		line-height: 0;
		/* ie6 transparent fix */
		_border-right-color: pink;
		_border-left-color: pink;
		_filter: chroma(color=pink);
	}

.border-callout {
	/* border: 1px solid #c5d9e8;  */
	border: 1px solid #979797;
	padding: 17px 19px;
}

	.border-callout .border-notch {
		/* border-bottom-color: #c5d9e8; */
		border-bottom-color: #979797;
		top: -11px;
	}

/* white_content is a sample. Not being used currently */
.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 16px solid orange;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}

.tab-fields-wrapLeft {
	float: left;
	padding: 2px;
}

	.tab-fields-wrapLeft span {
		vertical-align: middle;
		/*color: #AAAAAA;*/
		color: #49657E;
	}

/* .chrtAxTemplate-over-noborder td, .x-view-selected td{ */
/* .chrtAxTemplate-over-noborder td, #pnlCallout .x-view-selected{ */
/* .chrtAxTemplate-over-noborder td{ */
.chrtAxTemplate-over-noborder td {
	cursor: pointer;
}

.chrtAxTemplate.x-view-selected.chrtAxTemplate-over-noborder td {
	cursor: default;
}

.chrtAxTemplate-over-noborder span {
	font-weight: 300;
	color: #49657B;
	/* text-decoration: underline; */
	/* background-color: #F6F6F6 */
}

#pnlCallout .x-view-selected span, .chrtAxTemplate.x-view-selected.chrtAxTemplate-over-noborder span {
	font-weight: normal;
	/* color: gray; */
	/*color: #49657E;*/
	color: #AAAAAA;
	cursor: default;
	/* opacity: .6; */
	text-decoration: none;
	background-color: transparent;
}

#pnlCallout {
	background-color: white;
	padding: 5px;
}

	#pnlCallout div {
		border: none;
	}

.tab-fields-parent {
	width: 100%;
}

#chartView td {
	vertical-align: top;
}

#pnlConfirmation .x-panel-header {
	/* background-color: #CCD9E8; */
	background-color: #49657B;
	font: normal 12px tahoma, arial, helvetica, sans-serif;
	display: block;
	margin-bottom: 4px;
	zoom: 1;
	text-align: center;
	color: #fff;
}

#btnYes, #btnNo {
	/*width: 100%;*/
	width: 50%;
	/*cursor: pointer;*/
	padding: 4px 5px 2px 3px;
	border-color: #ccc;
	display: inline-block;
	/* padding: 6px 12px; */
	margin-bottom: 0;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	/* border-radius: 4px; */
}

/*#btnNo:hover, #btnYes:hover {
	color: #49657B;
}*/

.cnfBtn {
	cursor: pointer;
	/*color: darkgrey;*/
	color: #49657B;
}

/*.cnfBtn:hover{
	color: #49657B;
}*/

.buttonYes {
	background-position: -62px -158px;
}

/*.buttonYes:hover {
	background-position: -75px -158px;
}*/

.buttonNo {
	background-position: -89px -158px;
}

/*.buttonNo:hover{
	background-position: -102px -158px;
}*/

.cnfIcon {
	width: 14px;
	height: 10px;
	margin: 8px 0px 2px 0px;
}

/*#btnNo, #btnYes:hover {
	color: #49657B;
}

#btnYes, #btnNo:hover {
	color: darkgrey;
}*/

#btnYes {
	/* background-color: #49657B; */
	/*background-color: #829FB1;
	color: #fff;
	border-color: #2e6da4;*/
}

#btnNo {
	/*background-color: #fff;
	color: #333;
	border-color: #ccc;*/
	/* margin-left: 5px; */
}

#cntrParent, #cntrParent div:first-child {
	/* height: 100%; */
}

/* #tabFields input, #numberContent input{
	vertical-align: top;
	height: 16px;
 } */

/* -------------------------------------------- LABEL -------------------------------------------- */

.toggleCntnr .x-form-item {
	max-width: 150px;
	display: inline-block;
}

.checkCntnr {
	padding: 13px 0px 8px 0px;
}

#tabChkBoxes table td label {
	cursor: pointer;
}

	#tabChkBoxes table td label:first-child {
		/*margin-left: -40px;*/
		margin-left: -10px;
	}

#tabChkBoxes table td div label:first-of-type {
	/*margin-left: -20px;*/
	margin-left: 40px;
}

#tabChkBoxes table td div:first-child label {
	margin-left: 0px;
}

#tabChkBoxes table td {
	vertical-align: bottom;
}

	#tabChkBoxes table td:nth-child(2), #tabChkBoxes table td:nth-child(4), #tabChkBoxes table td:nth-child(6) {
		padding-bottom: 2px;
	}

.inactive {
	color: #737373;
	cursor: pointer;
}

	.inactive:hover {
		color: #49657A;
		cursor: pointer;
	}

hr {
	border-top: 1px solid #c6c6c6;
	border-bottom: 0;
}

/* -------------------------------------------- Panel-Wizard ------------------------------------- */
#panel-wizard input {
	vertical-align: top;
}

#pnlPrev {
	clear: both;
	position: absolute;
	width: 629px;
	height: 68%;
	bottom: 40px;
	border-style: hidden;
}

	#pnlPrev div, #pnlPrev span {
		height: 98% !important;
		border-style: hidden;
	}

#btnDone {
	float: right;
	margin: 1px 7px 6px 1px;
	/*background-color: #829FB1;*/
	/*border-color: #829FB1;*/
	bottom: 1px;
	right: 1px;
	position: absolute;
}

	#btnDone td {
		/*background-color: #829FB1;*/
	}

#cmbTheme + img {
	margin-top: 1px;
	left: 105px;
}

#cmbTheme {
	height: 24px;
	/*float: left;*/
	/*margin-left: 5px;*/
}

#frmTheme table td div {
	text-align: left;
}

#frmTheme {
	text-align: right;
	margin-top: -8px;
}

	#frmTheme table {
		float: right;
	}

#lblTheme {
	display: inline-block;
	vertical-align: bottom;
	margin: 0 10px 0 4px;
}

#panel-wizard, #panel-wizard .x-form-item, #panel-wizard input, .x-tree-node-anchor span {
	font-family: 'LatoWebMedium', tahoma, helvetica;
	font-size: 12px;
	/* font-weight: bold; */
}

.x-form-item-sub {
	font-family: 'LatoWebSemibold', tahoma, helvetica;
	font-size: 12px;
}

#panel-wizard input[type="text"] {
	/* height: 22px; */
	text-indent: 2px;
}

#tabData input[type="text"] {
	height: 24px;
}

#tabLabel input[type="text"] {
	height: 24px;
	/*margin: 0px 8px 0px 2px;*/
}

#tabLabel table {
	/*-webkit-border-horizontal-spacing: 20px;*/
	border-spacing: 20px 0;
	margin-left: -20px;
}

#tabChkBoxes table {
	/*-webkit-border-horizontal-spacing: 35px;*/
	/*border-spacing: 35px 0px;*/
	width: 75%;
	margin-left: 20px;
	border-spacing: 0px 0px;
}

.x-tree-node-anchor span {
	font-weight: 100;
}

/* .helpIcon{
	background-image:url(../images/default/collabion/help.png);
} */

.helpIcon label {
	/*float: left;*/
}

#fldLbl td input, #fldLbl td label {
	margin-left: 5px;
}

#fldLbl td:first-child input, #fldLbl td:first-child label {
	margin-left: 0px;
}

#tabNumber .tooltipstered, #tabLabel .tooltipstered, #tabData .tooltipstered {
	/*background: url('../../../assets/help.png');*/
	background-position: -137px -134px;
}

	#tabNumber .tooltipstered:hover, #tabLabel .tooltipstered:hover, #tabData .tooltipstered:hover {
		/*background: url('../../../assets/help-hover.png');*/
		background-position: -153px -134px;
	}

#pnlCharts .tooltipstered {
	background-image: none;
}

.overlay-div {
	position: absolute;
	top: 0;
	left: 0;
	width: 645px;
	height: 580px;
	z-index: 10;
	background-color: rgba(0,0,0,0.5);
}

#overlayPanel .x-panel-body {
	border-color: transparent;
}

.modal {
	/*width: 300px;*/
	height: 70px;
	/*line-height: 100px;*/
	position: fixed;
	bottom: 32%;
	left: 50%;
	margin-top: -100px;
	margin-left: -150px;
	/*background-color: #f1c40f;*/
	background-color: white;
	/*border-radius: 5px;*/
	text-align: center;
	z-index: 100; /*higher than the overlay layer */
	box-shadow: 0 0 20px 1px rgba(0,0,0,0.5);
	padding: 30px 20px 0 20px;
	/*padding: 12px;*/
	display: none;
}

	.modal img {
		vertical-align: middle;
		margin-top: -20px;
		/*margin-top: -15px;*/
		width: 40px;
	}

.all-images {
	/*background-image: url(../../../assets/AllImages.png) !important;*/
	background-image: url(../../../../Images/AllImages.png) !important;
	display: inline-block;
}

.noSetting {
	background-image: url(../../../../Images/display-msg-guide.png);
	background-repeat: no-repeat;
	background-position: center;
}

.app-logo {
	display: block;
	max-height: 150px;
	max-width: 200px;
	/*width: 181px;*/
	width: 121px;
	height: 24px;
	/*height: 36px;*/
	margin-left: 6px;
	background-position: -16px -134px;
}

.semi-bold {
	font-weight: 600;
}

#progressTextSpan {
	/*font-family: 'segoe ui light' , 'segoe ui', tahoma, helvetica, arial, sans-serif;*/
	/*font-family: 'LatoWebHairline', sans-serif;*/
	font-family: 'LatoWebLight', tahoma, helvetica;
	font-size: 36px;
}
